<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="ConfigFilePath" value="D:\Sudhir\PAM Tool Latest 5\eo-qcauto\trunk\Selenium Scripts\TestData\"/>
    <add key ="ConfigFileName" value="Test Data.xls"/>
    <add key ="RunxmlPath" value="D:\Sudhir\PAM Tool Latest 5\eo-qcauto\trunk\Selenium Scripts\run.xml"/>
    <add key ="ANTPath" value="D:\Sudhir\PAM Tool Latest 5\eo-qcauto\trunk\Selenium Scripts\"/>

    <add key ="ExitAfterCalling" value="False"/>
    <add key ="SleepTime" value="10000"/>


    <add key ="tk4" value="https://tk4.dev.summitenergy.com"/>
    <add key ="tk1" value="https://tk1.dev.summitenergy.com"/>
    <add key="staging" value="https://core.stg1.resourceadvisor.schneider-electric.com"/>
    <add key="Prod" value="https://resourceadvisor.schneider-electric.com"/>
    <!--<add key ="Track1" value="https://tk1.dev.summitenergy.com"/>
    <add key ="Track2" value="https://tk2.dev.summitenergy.com"/>

    <add key ="Track5" value="https://tk5.dev.summitenergy.com"/>
    <add key ="Staging" value="https://core.stg1.resourceadvisor.schneider-electric.com"/>
    <add key ="Staging2" value="https://stg2.dev.summitenergy.com"/>
    <add key="Production" value ="https://resourceadvisor.schneider-electric.com/login.aspx"/>
    <add key="Production - John Deere" value ="https://resourceadvisor.deere.com"/>-->




    <add key ="Production_Password" value="Testing@2"/>
    <add key ="Production_UserName" value="atesting"/>
    <add key ="ProductionJohnDeere_UserName" value="A905001"/>
    <add key ="ProductionJohnDeere_PassWord" value="ianb9g4z"/>
    <add key="Track1_ConnectionString" value="Data Source=01DW5SQLTK0102\DBC;Initial Catalog=DV2;Persist Security Info=True; Language=English;User ID=NetStress;Password=N3t$tr3$$"></add>
    <add key="Track2_ConnectionString" value="Data Source=01DW5SQLTK0202\DBC;Initial Catalog=DV2;Persist Security Info=True; Language=English;User ID=NetStress;Password=N3t$tr3$$"></add>
    <add key="Track3_ConnectionString" value="Data Source=01DW5SQLTK0302\DBC;Initial Catalog=DV2;Persist Security Info=True; Language=English;User ID=NetStress;Password=N3t$tr3$$"></add>
    <add key="Track5_ConnectionString" value="Data Source=01DW5SQLTK0502\DBC;Initial Catalog=DV2;Persist Security Info=True; Language=English;User ID=NetStress;Password=N3t$tr3$$"></add>
    <add key="Staging_ConnectionString" value="Data Source=01DW5SQLSTG0102\DBC;Initial Catalog=DV2;Persist Security Info=True; Language=English;User ID=NetStress;Password=N3t$tr3$$"></add>
    <add key="Staging2_ConnectionString" value="Data Source=01DW5SQLSTG0202\DBC;Initial Catalog=DV2;Persist Security Info=True; Language=English;User ID=NetStress;Password=N3t$tr3$$"></add>

    <!-- For CBMS related Config Data -->
    <add key ="Track-1" value="http://01dw4jvcbmstk1/cbms/"/>
    <add key ="Track-2" value="http://01dw4jvcbmstk2/cbms/"/>
    <add key ="Track-3" value="http://01dw4jvcbmstk3/cbms/"/>
    <add key ="Track-5" value="http://01dw4jvcbmstk5/cbms/"/>
    <add key ="Staging-1" value="http://01dw4jvcbmsstg1/cbms/"/>
    <add key ="CBMSProduction" value="http://cbms/cbms/"/>

    <add key ="CBMS_ConfigFilePath" value="E:\QC Tool_Git\Updated\Docs\"/>
    <add key ="CBMS_ConfigFileName" value="TestData.xls"/>
    <add key ="CBMS_RunxmlPath" value="E:\QC Tool_Git\Updated\Docs\run.xml"/>
    <add key ="CBMS_ANTPath" value="C:\CBMS\"/>

    <add key="CBMS_BuildCmd" value ="build Suite"/>

  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
</configuration>
